
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');



html, body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    background-color: #152733;
    color: #f6f2ec
   
    /* overflow: hidden; */
}

tr {
    color: #f6f2ec 
}

.side-bar {
    background-color: #152733;
  min-width: 200px;
}



  
@media all and (min-width: 500px) {

.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
}

.form-holder-search{
    display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: start;
    text-align: center;
    /* min-height: 100vh; */
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
}


.form-body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
 .search-form{
     display: flex;
     justify-content: center;
     margin: 20px;
 }

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #fff;
}

.form-content input, .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}
.thead-dark{
    background-color: #f4d35e;
}

.btn-primary{
    background-color: #6C757D;
    outline: none;
    border: 0px;
     box-shadow: none;
}
.btn-warning{
    background-color: #f4d35e;
    outline: none;
    border: 0px;
     box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
     box-shadow: none;
}

.heading{
    text-align: center;
    margin-top: 25px;
}
.bg-primary{
    background-color: #178af7;
}

button {
    margin:0 auto;
    display:block;
}



.form-button {
    margin-bottom: 20px;
   
}